button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.8em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.6em;
  white-space: nowrap;
}

button:hover,
.button:hover {
  background-color: var(--zinc-400);
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text);
}

.ghost {
  padding: 0.5em;
  border-radius: 0.2em;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.ghost:hover {
  background-color: var(--zinc-200);
}

.icon {
  position: relative;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon:hover {
  background-color: var(--zinc-100);
}

.outline {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  padding: 0.4em;
}

.outline:hover {
  background-color: var(--zinc-300);
}
.badge {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 0.8rem;
}

.badge:hover {
  background-color: none;
}

.success {
  background-color: var(--success);
  color: var(--text);
}

.warning {
  background-color: var(--warning);
  color: var(--text);
}

.error {
  background-color: var(--error);
  color: var(--text);
}

.info {
  background-color: var(--info);
  color: var(--text);
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

form .fields {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

form .fields .group {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;
  gap: 0.8em;
}

form .fields .field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  gap: 0.4em;
}

form .fields .field label {
  font-weight: 600;
}

form .fields .field input {
  padding: 0.6em;
  outline: none;
  border: 1px solid var(--zinc-300);
  transition: all 0.3s ease;
}

form .fields .field input:focus {
  border: 2px solid var(--zinc-600);
}

form .fields .field textarea {
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--zinc-300);
  transition: all 0.3s ease;
  min-height: 8em;
  resize: none;
}

@media (min-width: 728px) {
  form .fields .group {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  form .fields .group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
