/* Button */
button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.6em;
  white-space: nowrap;
  gap: 0.4em;
  font-weight: 500;
}

button:hover,
.button:hover {
  background-color: var(--zinc-300);
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text);
}

.tertiary {
  background-color: var(--zinc-100);
  color: var(--zinc-400);
}

.tertiary:hover {
  background-color: var(--zinc-200);
  color: var(--zinc-500);
}

.ghost {
  padding: 0.5em;
  border-radius: 0.2em;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.ghost:hover {
  background-color: var(--zinc-200);
}

.icon {
  position: relative;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon.like > i,
.icon.like > .fa-heart {
  color: var(--red-500);
  font-size: 1.2em;
}

.icon:hover {
  background-color: var(--zinc-100);
}

.outline {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  padding: 0.4em;
}

.outline:hover {
  background-color: var(--zinc-300);
}
.badge {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 0.8rem;
}

.badge-02 {
  background-color: var(--violet-200);
  border: 1px solid var(--violet-300);
  border-radius: 0.3em;
  color: var(--violet-700);
  padding: 0.5em 1em;
}

.badge-02:hover {
  background-color: var(--violet-200);
}

.badge:hover {
  background-color: none;
}

.success {
  background-color: var(--success);
  color: var(--text);
}

.warning {
  background-color: var(--warning);
  color: var(--text);
}

.error {
  background-color: var(--error);
  color: var(--text);
}

.info {
  background-color: var(--info);
  color: var(--text);
}

/* Breadcrumbs */
.breadcrumbs,
.breadcrumb-item,
.breadcrumbs > .divider {
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.breadcrumb-item span {
  color: var(--zinc-500);
}

/* Forms */
form .fields,
form .fields .group,
form .fields .field,
form .fields .field .input-wrapper {
  overflow: visible;
}

form .fields {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

form .fields .group {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;
  gap: 0.8em;
}

form .fields .field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  gap: 0.4em;
}

form .fields .field .input-wrapper {
  position: relative;
  display: flex;
}

form .fields .field .input-wrapper input {
  flex: 1;
}

form .fields .field.error .input-wrapper label {
  color: var(--red-500);
}

form .fields .field.error .input-wrapper input {
  border: 1px solid var(--red-500);
}

form .fields .field.success .input-wrapper label {
  color: var(--green-500);
}

form .fields .field.success .input-wrapper input {
  border: 1px solid var(--green-500);
}

form .fields .field.success .input-wrapper .tooltip .fa-solid {
  color: var(--green-500);
}

form .fields .field.success .input-wrapper .tooltip .tooltip-message {
  display: none;
}

form .fields .field.success .input-wrapper .tooltip:hover {
  transform: translateY(0);
}

/* Tooltip */
.tooltip {
  position: absolute;
  right: 0.6em;
  bottom: 0;
  transform: translateY(-75%);
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1em;
  cursor: pointer;
}

.tooltip.active {
  display: flex;
}

.tooltip:hover {
  transform: translateY(-20%);
}

.tooltip > .fa-circle-exclamation {
  padding-right: 0.4em;
  color: var(--red-500);
}

.tooltip:hover .tooltip-message {
  display: flex;
  transform: translateY(0);
}

.tooltip .tooltip-message {
  display: none;
  position: relative;
  font-size: 0.9rem;
  padding: 0.4em 0.8em;
  border-radius: 0.6em;
  background-color: var(--red-500);
  text-align: center;
  color: var(--zinc-200);
  overflow: visible;
  white-space: nowrap;
}

.tooltip .tooltip-message:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0.6em;
  transform: translateY(100%);
  border: 8px solid;
  border-color: var(--red-500) transparent transparent transparent;
}

form .fields .field #password-btn {
  position: absolute;
  right: 0.6em;
  top: 50%;
  transform: translateY(-20%);
  cursor: pointer;
}

form .fields .field #password-btn:hover {
  background-color: transparent;
}

form .fields .field.checkbox,
form .fields .field.radio {
  flex-direction: row;
}

form .fields .field.checkbox label,
form .fields .field.radio label {
  font-weight: 500;
  white-space: nowrap;
}

form .fields .field label {
  font-weight: 600;
  overflow: hidden;
}

form .fields .field .placeholder-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}

form .fields .field input:focus ~ .placeholder-text {
  transform: translateY(-175%);
}

form .fields .field input {
  padding: 0.6em;
  outline: none;
  border: 1px solid var(--zinc-200);
  transition: all 0.3s ease;
  border-radius: 0.6em;
}

form .fields .field input:focus {
  border: 1px solid blue;
}

form .fields .field textarea {
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--zinc-300);
  transition: all 0.3s ease;
  min-height: 8em;
  resize: none;
}

@media (min-width: 728px) {
  form .fields .group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  form .fields .group {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Input */
input[type="checkbox"]:checked {
  color: var(--violet-500);
}

.filter-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4em;
  transition: color 0.3s, background-color 0.3s;
  font-size: 0.9rem;
}

.category-option label,
.filter-option label {
  cursor: pointer;
}

.category-option.active label,
.category-option:hover label,
.filter-option label:hover {
  color: var(--violet-700);
}

.filter-option input[type="radio"],
.color-option input[type="radio"],
.size-option input[type="radio"],
.category-option input[type="radio"] {
  display: none;
}

.filter-option:hover,
.filter-option input[type="radio"]:active {
  color: var(--violet-500);
}

.filter-option input[type="radio"]:checked {
  color: var(--white);
  background-color: var(--violet-500);
  font-weight: bold;
}

.filter-group {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.filter-group > .group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.filter-group .group > label,
.filter-group .group .filter-option,
label {
  font-size: 0.9rem;
}

.filter-group:first-child > .group {
  padding-left: 0.6em;
}

.filter-group > .group.color {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  place-content: center;
}

.filter-group > .size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Color */
.color-option {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid var(--zinc-300);
}

.color-option.active,
.color-option:hover {
  border: 2px solid var(--violet-800);
}

.size-option input[type="checkbox"],
.color-option input[type="checkbox"] {
  display: none;
}

/* Colors */
.product-container .product-item .product .filter-group .color {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.product-container .product-item .product .filter-group .color-option {
  min-width: 3.5em;
  min-height: 3.5em;
  border: 2px solid var(--zinc-300);
}

/* Size */
.size-option {
  border-radius: 0.2em;
  text-align: center;
  padding: 0.6em;
  border: 2px solid var(--zinc-300);
  cursor: pointer;
}

.size-option.active,
.size-option:hover {
  border: 2px solid var(--violet-500);
}

.color-option input[type="radio"]:checked,
.size-option input[type="radio"]:checked {
  border: 1px solid var(--violet-500);
  color: var(--violet-500);
}

/* Sort By */
.sort-form {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}

.sort-form label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-form select {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.sort-form select:focus {
  border-color: #007bff;
  outline: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  background-color: var(--zinc-100);
  color: var(--zinc-400);
  padding: 0.5em 1.2em;
  border-radius: 0.6em;
}

@media (min-width: 1024px) {
  .filter-group > .size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-wdith: 1440px) {
  .filter-group .group.color {
    grid-template-columns: repeat(5, 1fr);
  }

  .filter-group > .size {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Product, Fashion and Image Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.card.main {
  order: -1;
}

.card.reversed {
  flex-direction: column-reverse;
}

/* Fashion Card */
.card .description {
  display: flex;
  flex-direction: column;

  gap: 0.5em;
  overflow: hidden;
}

.card:hover .description h3 {
  color: var(--violet-700);
}

.card .image-container {
  position: relative;
  flex: 70%;
  background-color: var(--violet-200);
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 0.7em;
}

.card .image-container .model_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card .description h3 {
  font-size: 1.2rem;
}

.card .description p {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .redirect {
  display: none;
}

.card:hover .redirect {
  display: flex;
}

/* Product Item */
.card.item {
  border: 1px solid var(--zinc-100);
  border-radius: 0.6em;
  box-shadow: var(--shadow-sm);
}

.card.item .description {
  padding: 0.6em;
}
.card.item .description h3,
.card.item .details {
  overflow: hidden;
}

.card.item .description h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.card.item:hover .description h3 {
  color: var(--zinc-900);
}

.card.item .image-container {
  background-color: var(--zinc-100);
}

.card.item .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.item .details .price-group {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.card.item .details .price-group .title {
  color: var(--zinc-500);
  font-weight: 600;
}

.card.item .details .price-group .price {
  font-size: 1.2rem;
  font-weight: 600;
}

.card.item .details a {
  padding: 0.8em;
}

.top-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 1em;
  width: 100%;
}

.bottom-position {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 1em;
  width: 100%;
}

.top-position > .button.badge {
  margin-right: auto;
}

.top-position > .icon.redirect,
.top-position > .icon {
  margin-left: auto;
}

.top-position:only-child {
  justify-content: flex-end;
}

.top-position .redirect {
  background-color: var(--zinc-100);
  border-radius: 100%;
}

@media (min-width: 728px) {
  .card.main {
    flex: 44%;
    order: 0;
  }

  .card {
    flex: 28%;
  }

  .card.reversed {
    flex-direction: column;
  }
}

.message {
  display: none;
  min-width: 100%;
}

.message.main.active,
.message.active {
  display: flex;
}

.message.products {
  display: none;
  text-align: left;
}

.message.main {
  padding: 0.8em;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4em;
}

.message.main .group {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.message.main .group .icon {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.message.main.error {
  border: 1px solid var(--error-border);
  background-color: var(--error-bg);
  color: var(--error-text);
}
.message.main.info {
  border: 1px solid var(--info-border);
  background-color: var(--info-bg);
  color: var(--info-text);
}

.message.main.warning {
  border: 1px solid var(--warning-border);
  background-color: var(--warning-bg);
  color: var(--warning-text);
}
.message.main.success {
  border: 1px solid var(--success-border);
  background-color: var(--success-bg);
  color: var(--success-text);
}

.message.main .group .title {
  font-weight: 500;
}

.message .text {
  font-size: 0.9rem;
}

.message .text.error {
  color: var(--error-text);
}

.message .text.info {
  color: var(--info-text);
}

.message .text.warning {
  color: var(--warning-text);
}

.message .text.success {
  color: var(--success-text);
}
